$light :#f6f6f6;


@import "bootstrap/bootstrap.scss";

body{
    
    background-image: url("images/wano.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
   
}

h1{
    font-family: 'Pushster'!important;
    letter-spacing: 2px;
    color: black;
    
}

.identity{
    background-color: #A3A4A6;
    height: 80px;
    border-radius: 15px 15px 0 0;
    -webkit-box-shadow: -5px 4px 20px 6px #000000;
    box-shadow: -5px 4px 20px 6px #000000;
    img{
        margin-right: 16px;
    }
}

.form-control{
    height: 40px;
    gap: 16px;
}

.stats-number{
    border-radius: 50%;
    border: solid 2px black;
    width: 65px;
    height: 65px;
    text-align: center;
    font-size: 22px;
    
}

.card{
    width: 0px;
}

.skills{
    height: 150px;
    resize: none;
    border: solid black 2px;
    border-radius: 8px 8px 8px 8px ;
}
.description{
    resize: none;
    height: 220px;
    border: solid black 2px;
    border-radius: 8px 8px 8px 8px ;
    font-size: 16px;
}
.talent{
    resize: none;
    height: 100px;
    border: solid black 2px;
    border-radius: 8px 8px 8px 8px ;
    font-size: 16px;
}
.inventaire{
    resize: none;
    height: 150px;
    border: solid black 2px;
    border-radius: 8px 8px 8px 8px ;
    font-size: 16px;
}
.icon-skills{
    img{
        margin-left: 20px;
    }
}

#border{
    border: solid black 2px;
    border-radius: 15px;
}

h5{
    color: black;
}
