
@import "bootstrap/bootstrap.scss";

body{
    -webkit-box-shadow: -5px 4px 20px 6px #000000;
    box-shadow: -5px 4px 20px 6px #000000;
    
}

h1{
    font-family: 'Pushster'!important;
    letter-spacing: 2px;
}

.identity{
    background-color: #A3A4A6;
    height: 80px;
    border-radius: 15px 15px 0 0;
    -webkit-box-shadow: -5px 4px 20px 6px #000000;
    box-shadow: -5px 4px 20px 6px #000000;
    img{
        margin-right: 16px;
    }
}

.form-control{
    height: 40px;
    gap: 16px;
}

.stats-number{
    border-radius: 50%;
    border: solid 2px black;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
}

.card{
    width: 0px;
}